<!DOCTYPE html>
<html lang="zh-Hant-TW">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="IE-edge">
        <title>113午餐訂購平台</title>
        <link rel="stylesheet" href="https://lunch13.herokuapp.com/static/css/reset.css">
        <link rel="stylesheet" href="https://lunch13.herokuapp.com/static/css/add_money_successful.css">
        <link rel="shortcut icon" href="https://lunch13.herokuapp.com/static/favicon.ico">
    </head>
    <body>
        <header class="header">
            <h1 class="title">訂購成功！</h1>
        </header>
        
        <main>
            <div class="message-area">
                <p class="text">
                    學號：{{ school_num }}
                    <br>
                    座號：{{ seat_num }}
                    <br>
                    加值金額：{{ how_much }}元
                    <br>
                    存款餘額：{{ leave_money }}元
                </p>
                
                <p class="hint-text">
                    目前尚未設計取消訂餐頁面，如須取消訂餐，請洽合作股長。<br>
                    <a href="/" class=a-text>回到首頁</a>
                </p>
                
            </div>
        </main>
        
        <footer class="footer">
            <p class="footer-text">Copyright © 113empire team 2020<br>All right reserved.</p>
        </footer>
    </body>
</html>
