<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="IE-edge">
        <title>113午餐訂購平台 - 加值</title>
        <link rel="stylesheet" href="https://lunch13.herokuapp.com/static/css/reset.css">
        <link rel="stylesheet" href="https://lunch13.herokuapp.com/static/css/add_money.css">
        <link rel="shortcut icon" href="https://lunch13.herokuapp.com/static/favicon.ico">
    </head>
    <body>
        <header class="header">
            <h1 class="title">加值</h1>
        </header>
        
        <main>
            <div class="enter-area">
                <form method="POST" action="/add_money_process">
                    <label for="school_num" class="label">學號</label>
                    <input type="textarea" name="school_num" class="textarea" placeholder="請輸入數字共6碼" required autofocus>
                    <br>
                    
                    <label for="seat_num" class="label">座號</label>
                    <input type="textarea" name="seat_num" class="textarea" placeholder="請輸入數字共2碼" required>
                    <br>
                    
                    <label for="how_much" class="label">金額</label>
                    <input type="number" name="how_much" class="textarea" placeholder="請輸入加值金額" required>
                    <br>
                    
                    <p class="hint-text">
                        <br><a href="/manager_background">管理員後台</a> <a href="/">回到首頁</a></p>
                    <br>
               
                    <input type="submit" value="送出" class="submit">
                    
                </form>
            </div>
        </main>
        
        <footer class="footer">
            <p>Copyright © 113empire team 2020<br>All right reserved.</p>
        </footer>
    </body>
</html>
