<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="UTF-8">
        <title>錯誤 - 未選擇便當種類</title>
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/error_no_restaurant.css">
        <link rel="shortcut icon" href="favicon.ico">
    </head>
    <body>
        <header class="header">
            <h1 class="title">未選擇便當種類</h1>
        </header>
        
        <main>
            <div class="enter_area">
                <p class="text">你一定是粗心，才沒有選到要訂的便當!</p>
                <br>
                <a href="/" class="a-text">回到首頁</a>
            </div>
        </main>
        
        <footer class="footer">
            <p>Copyright © 113empire team 2020<br>All right reserved.</p>
        </footer>
    </body>
</html>
