<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="UTF-8">
        <title>錯誤 - 未知</title>
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/error_machine.css">
        <link rel="shortcut icon" href="favicon.ico">
    </head>
    <body>
        <header class="header">
            <h1 class="title">未知錯誤</h1>
        </header>
        
        <main>
            <div class="enter_area">
                <p class="text">剛才發生了未知的錯誤，就連我們都不知道原因，所以不要問我們(雖然你們來問我們也不會把你趕走就是了)</p>
                <br>
                <a href="/" class="a-text">回到首頁</a>
            </div>
        </main>
        
        <footer class="footer">
            <p>Copyright © 113empire team 2020<br>All right reserved.</p>
        </footer>
    </body>
</html>
