<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="UTF-8">
        <title>{{ error }} - 錯誤</title>
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/error.css">
        <link rel="shortcut icon" href="favicon.ico">
    </head>
    <body>
        <header class="header">
            <h1 class="title">{{ error }} Error</h1>
        </header>
        
        <main>
            <div class="enter_area">
                
                <a href="/">回到首頁</a>
            </div>
        </main>
        
        <footer class="footer">
            <p>Copyright © 2020承峻工作室</p>
        </footer>
    </body>
</html>
