<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <!-- 樣板: 重複執行: ( 商家名稱 菜單圖片 ) -->
    <!-- 超連結: /manager_background回到後台 /回到首頁 -->
    <head>
        <meta charset="UTF-8">
        <title>113午餐訂購平台 - 菜單</title>
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/menu.css">
        <link rel="shortcut icon" href="favicon.ico">
    </head>
    <body>
        <header class="header">
            <h1 class="title">本週菜單</h1>
        </header>
        
        <main>
            <div class="photo_area">
                
            </div>
        </main>
        
        <footer class="footer">
            <p>Copyright © 2020承峻工作室</p>
        </footer>
    </body>
</html>
