<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <!-- 超連結:  /回首頁 -->
    <!-- 樣板:  日期{{ date }}  學號{{ school_num }}  座號{{ seat_num }}  
               種類{{ restaurant }}  交易金額/價格{{ how_many }}  餘額{{ leave_money }}-->
    <head>
        <meta charset="UTF-8">
        <title>113午餐訂購平台</title>
        <link href="css/reset.css" rel="stylesheet" type="text/css ">
        <link href="css/order_ok.css" rel="stylesheet" type="text/css">
        <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    </head>
    <body>
        <header class="header">
            <h1 class="title">訂購成功！</h1>
        </header>
        
        <main>
            <div class="message-area">
                <p class="text">
                    日期：{{ date }}
                    座號：{{ seat_num }}
                    便當種類：{{ restaurant }}
                    交易金額：{{ how_much }}
                    存款餘額：{{ leave_money }}
                </p>
                
                <p class="text">
                    目前尚未設計取消訂餐頁面，如須取消訂餐，請洽合作股長。
                </p>
                
                <p class="a-text"><a href="/">回到首頁</a></p>
                
            </div>
            
        </main>
        
        <footer class="footer">
            <p class="footer-text">Copyright © 2020承峻工作室</p>
        </footer>
    </body>
</html>
