<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="UTF-8">
        <title>113午餐訂購平台</title>
        <link href="css/reset.css" rel="stylesheet" type="text/css ">
        <link href="css/order_ok.css" rel="stylesheet" type="text/css">
        <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    </head>
    <body>
        <header class="header">
            <h1 class="title">訂購成功！</h1>
        </header>
        
        <main>
            <div class="message-area">
                <p class="text">餘額剩下 <b>${{ how_much_money }}</b> 元</p>
                <!-- <p class="text">您的新驗證碼： <b>{{ auth_code }}</b><br>敬請妥善保存，否則<b>無法進行訂購</b></p> -->
                
                <p class="a-text"><a href="/">回到首頁</a></p>
                
            </div>
            
        </main>
        
        <footer class="footer">
            <p class="footer-text">Copyright © 2020承峻工作室</p>
        </footer>
    </body>
</html>
