<!-- 傳送網址: /menu_process -->
<!-- 表單項目: 各種類菜單檔案上傳 -->
<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="UTF-8">
        <!-- RWD響應式設計：視窗寬度小於600像素時，就會切換版面配置 -->
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="IE-edge">
        <title>113午餐訂購平台 - 更新菜單</title>
        <link rel="stylesheet" href="https://lunch13.herokuapp.com/static/css/reset.css">
        <link rel="stylesheet" href="https://lunch13.herokuapp.com/static/css/update_menu.css">
        <link rel="shortcut icon" href="https://lunch13.herokuapp.com/static/favicon.ico">
    </head>
    <body>
        <header class="header">
            <h1 class="title">菜單上傳</h1>
        </header>
        
        <main>
            <div class="enter-area">
                <form method="POST" action="/menu_process">
                    <label for="menufile">請選擇所有種類菜單並上傳</label>
                    <br>
                    <input type="file" name="menufile" class="menufile">
                  
                    <p class="hint-text">注意:檔案上傳後，過去上傳的檔案將被刪除且無法復原</p>
               
                    <input type="submit" value="上傳" class="submit">
                    
                </form>
                
            </div>
            
        </main>
        
        <footer class="footer">
            <p>Copyright © 113empire team 2020<br>All right reserved.</p>
        </footer>
    </body>
</html>
